---
import { siteConfig } from "../config";
---


<section id="introduction" class="p-8 sm:p-12 md:p-16 lg:p-24" style={{ backgroundImage: "url('./background.png')" }>
  <div>
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-16 items-start">
      <div class="lg:col-span-4">
        <h3
          class="text-xl sm:text-2xl md:text-3xl xl:text-4xl font-bold text-gray-900"
        >
          Introduction
        </h3>
        <div
          class="w-[75px] h-[5px] mt-2 rounded-full"
          style={`background-color: ${siteConfig.accentColor}`}
        >
        </div>
      </div>

      <div class="lg:col-span-8 space-y-8">
        <p class="text-lg sm:text-xl md:text-2xl leading-relaxed text-gray-600">
          {siteConfig.Introduction}
        </p>


      </div>
    </div>
  </div>
</section>
